<%if current_user %>

<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %></h1>

<div class="chatbox">
  <% if @chatroom.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </div>
  <%else%>
    <div class="chatbox_message" id="messages">
    </div>
  <%end%>
</div>
  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>

<%else%>
  <h4>You cannot access this page. Please login</h4>
<%end%>
