<% if current_user %>


<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome <%= current_user.first_name%></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h2>Welcome <%= current_user.first_name%></h2>
</body>
</html>


<%else%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome </title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h2>Welcome Guest</h2>
</body>
</html>
<%end%>
